@charset "UTF-8";

@media screen and (min-width: 300px) and (max-width: 768px){
    main{
        width: 504px;
    }
    header{
        width: 518px;
    }
    nav{
        width: 502px;
    }
    h1{
        font-size: 21px;
    }
    footer{
        width: 520px;
    }
}